

*, *::before, *::after{
    box-sizing: border-box;
    font-family: times NewRoman, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #020024, #090979, #0654aa, #00d4ff);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color:rgb(163,178,181);
}

.calculator-grid > button:hover{
    background-color: #87CEFA;
}

.A{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: white;
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

body {
  background-image: url("background.jpg");
  background-repeat: space;
  background-size: contain;
  position: relative;
  background-color: rgb(223, 218, 251);
}
